<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Director</title>
</head>
<body>
    {% extends "./plantilla.html" %}
    {% block body %}
    <h1 class="text-center">Editar Director</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'procesoActualizacionDirector' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{directorEditar.id}}">
                    
                    <label for=""><b>DNI:</b></label>
                    <input type="text" name="dni" class="form-control"
                    value="{{directorEditar.dni}}"
                    id="dni" placeholder="Ingrese el DNI del director">

                    <label for=""><b>Nombre:</b></label>
                    <input type="text" name="nombre" class="form-control"
                    value="{{directorEditar.nombre}}"
                    id="nombre" placeholder="Ingrese el nombre del director">

                    <label for=""><b>Apellido:</b></label>
                    <input type="text" name="apellido" class="form-control"
                    value="{{directorEditar.apellido}}"
                    id="apellido" placeholder="Ingrese el apellido del director">

                    <label for=""><b>Estado:</b></label>
                    <input type="checkbox" name="estado"
                    id="estado" {% if directorEditar.estado %}checked{% endif %}>

                    <br>
                    <button  type="submit" class="btn btn-warning">
                        Actualizar</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'listadoDirectores' %}">Cancelar</a>

                </form>
            </div>
        </div>
    </div>
    <br>
    {% endblock %}
</body>
</html>
