<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends "./plantilla.html" %}
    {% block body %}

    <div class="card">
        <div class="card-title text-center">
            <br>
            <h3><b>LISTADO DE GENEROS</b></h3>
        </div>
    </div>
    <div class="text-end">
        <a href="{% url 'nuevoGenero' %}" class="btn btn-success">Agregar Genero</a>
    </div>
    <br>
    <table class="table table-bordered table-striped table-hover" id="tbl-generos">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>FOTO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for generosTemporal in generos%}
            <tr>
                <td>{{generosTemporal.id}}</td>
                <td>{{generosTemporal.nombre}}</td>
                <td>
                    <a href="" target="_blank">
                        <img src="" alt="No carga" width="30px">
                    </a>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </td>
                <td>
                    <a href="{% url 'editarGenero' generosTemporal.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'eliminarGenero' generosTemporal.id %}" onclick="return confirm('Esta seguro?');"
                        class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        let table = new DataTable('#tbl-generos');
    </script>
    {% endblock %}

</body>

</html>