<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directores</title>
</head>

<body>
    {% extends "./plantilla.html" %}
    {% block body %}
    <h1 class="text-center">Listado Directores</h1>
    <div class="text-end">
        <a href="{% url 'nuevoDirector' %}" class="btn btn-success">Agregar Director</a>
    </div>
    <br>
    <table class="table table-bordered table-striped table-hover" id="tbl-directores">
        <thead>
            <tr>
                <th>ID</th>
                <th>DNI</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>ESTADO</th>
                <th>FOTO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for directoresTemporal in directores%}
            <tr>
                <td>{{directoresTemporal.id}}</td>
                <td>{{directoresTemporal.dni}}</td>
                <td>{{directoresTemporal.nombre}}</td>
                <td>{{directoresTemporal.apellido}}</td>
                <td>{{directoresTemporal.estado}}</td>
                <td>
                    <a href="{{directoresTemporal.foto.url}}" target="_blank">
                        <img src="{{directoresTemporal.foto.url}}" alt="No carga" width="30px">
                    </a>
                </td>
                <td>
                    <a href="{% url 'editarDirector' directoresTemporal.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'eliminarDirector' directoresTemporal.id %}"
                        onclick="return confirm('Esta seguro?');" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <script>
            let table = new DataTable('#tbl-directores');
        </script>
    </table>
    {% endblock %}
    <!--{% url 'editarDirector' generosTemporal.id %}-->
</body>

</html>